flows/flows_Dispatcher.json
[
    {
        "type": "tab",
        "id": "2f36ab1a.d0c954",
        "label": "Dispatcher"
    },
    {
        "id": "b788e70f.487718",
        "type": "mqtt-dynamic-broker",
        "z": "2f36ab1a.d0c954",
        "broker": "{mqtt_dynamic.broker}",
        "port": "{mqtt_dynamic.broker_port}",
        "clientid": "{mqtt_dynamic.clientid}_async",
        "usetls": false,
        "verifyservercert": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": false,
        "willTopic": "client/{mqtt_dynamic.clientid}/config",
        "willQos": "1",
        "willRetain": "true",
        "willPayload": "{mqtt_dynamic.clientconfig_offline}",
        "birthTopic": "client/{mqtt_dynamic.clientid}/config",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "{mqtt_dynamic.clientconfig}"
    },
    {
        "id": "73cb19d6.de22d8",
        "type": "mqtt-dynamic-broker",
        "z": "2f36ab1a.d0c954",
        "broker": "{mqtt_dynamic.broker}",
        "port": "{mqtt_dynamic.broker_port}",
        "clientid": "{mqtt_dynamic.clientid}",
        "usetls": false,
        "verifyservercert": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": false,
        "willTopic": "",
        "willQos": "0",
        "willRetain": null,
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": null,
        "birthPayload": ""
    },
    {
        "id": "159f16c3.ea60e9",
        "type": "mqtt-dynamic in",
        "z": "2f36ab1a.d0c954",
        "name": "sync",
        "topic": "{mqtt_dynamic.clientid}",
        "broker": "73cb19d6.de22d8",
        "async": "",
        "x": 301,
        "y": 105,
        "wires": [
            [
                "5033105d.4c52c"
            ]
        ]
    },
    {
        "id": "aae66842.551998",
        "type": "inject",
        "z": "2f36ab1a.d0c954",
        "name": "Test hostname",
        "topic": "",
        "payload": "hostname",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120.28570556640625,
        "y": 32.285736083984375,
        "wires": [
            [
                "5033105d.4c52c"
            ]
        ]
    },
    {
        "id": "51ad98c3.ae5268",
        "type": "execute",
        "z": "2f36ab1a.d0c954",
        "command": " ",
        "addpay": true,
        "append": "",
        "useSpawn": true,
        "name": "Exec payload",
        "x": 595.7142333984375,
        "y": 410.6199645996094,
        "wires": [
            [
                "d93a799f.6813c8"
            ]
        ]
    },
    {
        "id": "9a393a6d.89fd58",
        "type": "mqtt-dynamic complete",
        "z": "2f36ab1a.d0c954",
        "name": "Complete",
        "x": 852.2857666015625,
        "y": 736.4286499023438,
        "wires": [
            [
                "cd1da007.7b54d"
            ]
        ]
    },
    {
        "id": "5398ae93.322b8",
        "type": "mqtt-dynamic out",
        "z": "2f36ab1a.d0c954",
        "name": "/status",
        "topic": "{mqtt_dynamic.clientid}/status",
        "qos": "0",
        "retain": "",
        "broker": "b788e70f.487718",
        "x": 507.5714111328125,
        "y": 192.57147216796875,
        "wires": []
    },
    {
        "id": "9870be27.37779",
        "type": "mqtt-dynamic in",
        "z": "2f36ab1a.d0c954",
        "name": "/async",
        "topic": "{mqtt_dynamic.clientid}/async",
        "broker": "b788e70f.487718",
        "async": "true",
        "x": 350.71429443359375,
        "y": 42.57147216796875,
        "wires": [
            [
                "5033105d.4c52c"
            ]
        ]
    },
    {
        "id": "da4e7177.76ea6",
        "type": "mqtt-dynamic out",
        "z": "2f36ab1a.d0c954",
        "name": "/output",
        "topic": "{mqtt_dynamic.clientid}/output",
        "qos": "0",
        "retain": "",
        "broker": "b788e70f.487718",
        "x": 1069.5714111328125,
        "y": 267.4285583496094,
        "wires": []
    },
    {
        "id": "d93a799f.6813c8",
        "type": "switch",
        "z": "2f36ab1a.d0c954",
        "name": "HasExitCode",
        "property": "payload.exitcode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 762.857177734375,
        "y": 410.57151794433594,
        "wires": [
            [
                "5a043379.fe78ac"
            ],
            [
                "da4e7177.76ea6",
                "a68bc475.cf4e88"
            ]
        ]
    },
    {
        "id": "8c0930f5.febc8",
        "type": "file",
        "z": "2f36ab1a.d0c954",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "x": 1316.5714111328125,
        "y": 364.4285583496094,
        "wires": []
    },
    {
        "id": "133801d9.f16bee",
        "type": "inject",
        "z": "2f36ab1a.d0c954",
        "name": "Test controller.",
        "topic": "",
        "payload": "{\"command\":\"%SystemRoot%\\\\System32\\\\hostname.exe\", \"callbacktopic\" : \"\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 121.42857360839844,
        "y": 65.2857666015625,
        "wires": [
            [
                "5033105d.4c52c"
            ]
        ]
    },
    {
        "id": "5033105d.4c52c",
        "type": "function",
        "z": "2f36ab1a.d0c954",
        "name": "SetupCallback",
        "func": "var setup = global.get('setup');\nreturn setup(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 333.0714111328125,
        "y": 288.5714416503906,
        "wires": [
            [
                "5398ae93.322b8",
                "cefc1dda.7ba13"
            ]
        ]
    },
    {
        "id": "cd1da007.7b54d",
        "type": "switch",
        "z": "2f36ab1a.d0c954",
        "name": "",
        "property": "callbacktopic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 988.071533203125,
        "y": 736.4285888671875,
        "wires": [
            [
                "b0e9b472.cdcf48"
            ]
        ]
    },
    {
        "id": "da10be31.a4f09",
        "type": "mqtt-dynamic out",
        "z": "2f36ab1a.d0c954",
        "name": "Callback",
        "topic": "",
        "qos": "1",
        "retain": "",
        "broker": "73cb19d6.de22d8",
        "x": 1319.2142333984375,
        "y": 736.4285888671875,
        "wires": []
    },
    {
        "id": "b0e9b472.cdcf48",
        "type": "change",
        "z": "2f36ab1a.d0c954",
        "name": "Topic and payload",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "callbacktopic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "requestpayload.exitcode",
                "pt": "msg",
                "to": "payload.exitcode",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "requestpayload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1146.142822265625,
        "y": 736.1428833007812,
        "wires": [
            [
                "da10be31.a4f09"
            ]
        ]
    },
    {
        "id": "8d4aa69f.1e2428",
        "type": "inject",
        "z": "2f36ab1a.d0c954",
        "name": "Win-Dir ",
        "topic": "",
        "payload": "{\"command\":\"cmd /c dir\", \"cwd\" :\"c:\\\\temp\", \"callbacktopic\" : \"\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 153,
        "y": 98,
        "wires": [
            [
                "5033105d.4c52c"
            ]
        ]
    },
    {
        "id": "933b6237.c0614",
        "type": "debug",
        "z": "2f36ab1a.d0c954",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 694,
        "y": 175.85711669921875,
        "wires": []
    },
    {
        "id": "cefc1dda.7ba13",
        "type": "switch",
        "z": "2f36ab1a.d0c954",
        "name": "Commands",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "setenv",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 527.5714416503906,
        "y": 282.14288330078125,
        "wires": [
            [
                "ff324216.8651e",
                "933b6237.c0614"
            ],
            [
                "810e9be9.332b6"
            ]
        ]
    },
    {
        "id": "ff324216.8651e",
        "type": "function",
        "z": "2f36ab1a.d0c954",
        "name": "SetEnv",
        "func": "var setenv = global.get(\"setenv\");\nreturn setenv.set(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 718.28564453125,
        "y": 275.85711669921875,
        "wires": [
            [
                "51ad98c3.ae5268"
            ]
        ]
    },
    {
        "id": "2557ee98.bc49a2",
        "type": "inject",
        "z": "2f36ab1a.d0c954",
        "name": "setenv",
        "topic": "",
        "payload": "{\"command\": \"setenv\",\"env\": {\"TEST\": \"TestValue\"}, \"path\" : \"%TOOLS_ROOT%\" }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 156.77777099609375,
        "y": 164.6666259765625,
        "wires": [
            [
                "5033105d.4c52c"
            ]
        ]
    },
    {
        "id": "7756923c.c7ef4c",
        "type": "inject",
        "z": "2f36ab1a.d0c954",
        "name": "PrintEnv-SH",
        "topic": "",
        "payload": "{\"command\":\"printenv DYNAMIC\", \"cwd\" :\"/usr\" , \"env\" : { \"DYNAMIC\" : \"InjectedTestValue\" }}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 138.5,
        "y": 230,
        "wires": [
            [
                "5033105d.4c52c"
            ]
        ]
    },
    {
        "id": "12510a55.257166",
        "type": "inject",
        "z": "2f36ab1a.d0c954",
        "name": "setenv logdir",
        "topic": "",
        "payload": "{\"command\" : \"setenv\" , \"options\" : {  \"logdir\" :\"./testlog3/\" , \"cwd\"  : \"./testlog3/\" }}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140.5,
        "y": 264,
        "wires": [
            [
                "5033105d.4c52c"
            ]
        ]
    },
    {
        "id": "a68bc475.cf4e88",
        "type": "function",
        "z": "2f36ab1a.d0c954",
        "name": "setlog",
        "func": "var logutil = global.get('log');\nvar pid = msg.pid || 0;\nvar logfile = null;\n\nif(msg.requestpayload && \n   msg.requestpayload.logfile){\n       logfile = msg.requestpayload.logfile;\n   }\nmsg.filename = logutil.resolveFilename(pid,logfile);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1189.5,
        "y": 364,
        "wires": [
            [
                "8c0930f5.febc8"
            ]
        ]
    },
    {
        "id": "e4a4d08.0ed383",
        "type": "inject",
        "z": "2f36ab1a.d0c954",
        "name": "getenv",
        "topic": "",
        "payload": "{\"command\":\"printenv TEST\", \"cwd\" :\"/usr\" , \"logfile\" : \"printenv.txt\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 159,
        "y": 198,
        "wires": [
            [
                "5033105d.4c52c"
            ]
        ]
    },
    {
        "id": "3116358d.3b84da",
        "type": "inject",
        "z": "2f36ab1a.d0c954",
        "name": "clearenv",
        "topic": "",
        "payload": "{\"command\": \"setenv\",\"env\": \"\", \"path\" : \"\" }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 152,
        "y": 297,
        "wires": [
            [
                "5033105d.4c52c"
            ]
        ]
    },
    {
        "id": "49259639.4b70d8",
        "type": "inject",
        "z": "2f36ab1a.d0c954",
        "name": "cwd",
        "topic": "",
        "payload": "{\"command\": \"setenv\",\"cwd\": \"\" }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 155,
        "y": 130,
        "wires": [
            [
                "5033105d.4c52c"
            ]
        ]
    },
    {
        "id": "810e9be9.332b6",
        "type": "function",
        "z": "2f36ab1a.d0c954",
        "name": "Backup Msg",
        "func": "var recover = global.get(\"recover\");\nreturn recover.backup(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 407,
        "y": 410.5,
        "wires": [
            [
                "51ad98c3.ae5268"
            ]
        ]
    },
    {
        "id": "5a043379.fe78ac",
        "type": "function",
        "z": "2f36ab1a.d0c954",
        "name": "Handle Interrupt",
        "func": "var recover = global.get(\"recover\");\nreturn recover.interrupt(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 841,
        "y": 491.5,
        "wires": [
            [
                "e4fb3470.fdc528"
            ]
        ]
    },
    {
        "id": "e4fb3470.fdc528",
        "type": "function",
        "z": "2f36ab1a.d0c954",
        "name": "Cleanup recovery",
        "func": "var recover = global.get(\"recover\");\nreturn recover.cleanup(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 1033,
        "y": 539.5,
        "wires": [
            [
                "da4e7177.76ea6",
                "a68bc475.cf4e88",
                "9a393a6d.89fd58"
            ]
        ]
    },
    {
        "id": "46d06b7d.8813bc",
        "type": "inject",
        "z": "2f36ab1a.d0c954",
        "name": "Recover on Startup",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 514,
        "y": 585.5,
        "wires": [
            [
                "9bae87a9.d1ae7"
            ]
        ]
    },
    {
        "id": "9bae87a9.d1ae7",
        "type": "function",
        "z": "2f36ab1a.d0c954",
        "name": "Recover Msg",
        "func": "var recover = global.get(\"recover\");\nreturn recover.recover(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 585.5,
        "wires": [
            [
                "e4fb3470.fdc528"
            ]
        ]
    }
]