node-red-flows/flows_Dispatcher.json
[
    {
        "type": "tab",
        "id": "2f36ab1a.d0c954",
        "label": "Dispatcher"
    },
    {
        "id": "b788e70f.487718",
        "type": "mqtt-dynamic-broker",
        "z": "2f36ab1a.d0c954",
        "broker": "{mqtt_dynamic.broker}",
        "port": "1883",
        "clientid": "{mqtt_dynamic.clientid}_async",
        "usetls": false,
        "verifyservercert": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": false,
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "birthTopic": "client/{mqtt_dynamic.clientid}/config",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "{mqtt_dynamic.clientconfig}"
    },
    {
        "id": "73cb19d6.de22d8",
        "type": "mqtt-dynamic-broker",
        "z": "2f36ab1a.d0c954",
        "broker": "{mqtt_dynamic.broker}",
        "port": "1883",
        "clientid": "{mqtt_dynamic.clientid}",
        "usetls": false,
        "verifyservercert": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": false,
        "willTopic": "",
        "willQos": "0",
        "willRetain": null,
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": null,
        "birthPayload": ""
    },
    {
        "id": "159f16c3.ea60e9",
        "type": "mqtt-dynamic in",
        "z": "2f36ab1a.d0c954",
        "name": "sync",
        "topic": "{mqtt_dynamic.clientid}",
        "broker": "73cb19d6.de22d8",
        "async": "",
        "x": 74,
        "y": 109,
        "wires": [
            [
                "5033105d.4c52c"
            ]
        ]
    },
    {
        "id": "aae66842.551998",
        "type": "inject",
        "z": "2f36ab1a.d0c954",
        "name": "Test hostname",
        "topic": "",
        "payload": "hostname",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 129.28571319580078,
        "y": 427.2857246398926,
        "wires": [
            [
                "5033105d.4c52c"
            ]
        ]
    },
    {
        "id": "51ad98c3.ae5268",
        "type": "execute",
        "z": "2f36ab1a.d0c954",
        "command": " ",
        "addpay": true,
        "append": "",
        "useSpawn": true,
        "name": "Exec payload",
        "x": 678.5714263916016,
        "y": 238.19143867492676,
        "wires": [
            [
                "d93a799f.6813c8",
                "da4e7177.76ea6",
                "8c0930f5.febc8"
            ]
        ]
    },
    {
        "id": "9a393a6d.89fd58",
        "type": "mqtt-dynamic complete",
        "z": "2f36ab1a.d0c954",
        "name": "Complete",
        "x": 1157.2857818603516,
        "y": 85.57150459289551,
        "wires": [
            [
                "cd1da007.7b54d"
            ]
        ]
    },
    {
        "id": "5398ae93.322b8",
        "type": "mqtt-dynamic out",
        "z": "2f36ab1a.d0c954",
        "name": "/status",
        "topic": "{mqtt_dynamic.clientid}/status",
        "qos": "1",
        "retain": "true",
        "broker": "b788e70f.487718",
        "x": 655.5714263916016,
        "y": 335.57144355773926,
        "wires": []
    },
    {
        "id": "9870be27.37779",
        "type": "mqtt-dynamic in",
        "z": "2f36ab1a.d0c954",
        "name": "/async",
        "topic": "{mqtt_dynamic.clientid}/async",
        "broker": "b788e70f.487718",
        "async": "true",
        "x": 70.71428298950195,
        "y": 236.57145500183105,
        "wires": [
            [
                "5033105d.4c52c"
            ]
        ]
    },
    {
        "id": "da4e7177.76ea6",
        "type": "mqtt-dynamic out",
        "z": "2f36ab1a.d0c954",
        "name": "/output",
        "topic": "{mqtt_dynamic.clientid}/output",
        "qos": "1",
        "retain": "",
        "broker": "b788e70f.487718",
        "x": 950.5714263916016,
        "y": 270.57144355773926,
        "wires": []
    },
    {
        "id": "d93a799f.6813c8",
        "type": "switch",
        "z": "2f36ab1a.d0c954",
        "name": "HasExitCode",
        "property": "payload.exitcode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 946.8571929931641,
        "y": 85.71438789367676,
        "wires": [
            [
                "9a393a6d.89fd58"
            ]
        ]
    },
    {
        "id": "8c0930f5.febc8",
        "type": "file",
        "z": "2f36ab1a.d0c954",
        "name": "Log",
        "filename": "./node-red-flows/logs/log.txt",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "x": 943.5714263916016,
        "y": 390.57144355773926,
        "wires": []
    },
    {
        "id": "133801d9.f16bee",
        "type": "inject",
        "z": "2f36ab1a.d0c954",
        "name": "Test controller.",
        "topic": "",
        "payload": "{\"cmd\":\"hostname\", \"callbacktopic\" : \"\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130.42857360839844,
        "y": 492.2857360839844,
        "wires": [
            [
                "5033105d.4c52c"
            ]
        ]
    },
    {
        "id": "5033105d.4c52c",
        "type": "function",
        "z": "2f36ab1a.d0c954",
        "name": "SetupCallback",
        "func": "try{\n    // Parse JSON and fetch out the cmd and \n    // callback topic.\n    console.log(msg.payload)\n    var payload = JSON.parse(msg.payload);\n    msg.requestpayload = msg.payload;\n    msg.callbacktopic = payload.callbacktopic;\n    msg.payload = payload.cmd;\n}catch(e){\n    console.log(e)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 448.07142639160156,
        "y": 237.57144355773926,
        "wires": [
            [
                "51ad98c3.ae5268",
                "5398ae93.322b8"
            ]
        ]
    },
    {
        "id": "cd1da007.7b54d",
        "type": "switch",
        "z": "2f36ab1a.d0c954",
        "name": "",
        "property": "callbacktopic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 964.0715484619141,
        "y": 182.57147407531738,
        "wires": [
            [
                "b0e9b472.cdcf48"
            ]
        ]
    },
    {
        "id": "da10be31.a4f09",
        "type": "mqtt-dynamic out",
        "z": "2f36ab1a.d0c954",
        "name": "Callback",
        "topic": "",
        "qos": "1",
        "retain": "",
        "broker": "73cb19d6.de22d8",
        "x": 1363.2142486572266,
        "y": 184.57147407531738,
        "wires": []
    },
    {
        "id": "b0e9b472.cdcf48",
        "type": "change",
        "z": "2f36ab1a.d0c954",
        "name": "Topic and payload",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "callbacktopic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "requestpayload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1156.142837524414,
        "y": 183.28576850891113,
        "wires": [
            [
                "da10be31.a4f09"
            ]
        ]
    }
]