node-red-flows/flows_Dispatcher.json
[
    {
        "type": "tab",
        "id": "2f36ab1a.d0c954",
        "label": "Dispatcher"
    },
    {
        "id": "b788e70f.487718",
        "type": "mqtt-dynamic-broker",
        "z": "2f36ab1a.d0c954",
        "broker": "{mqtt_dynamic.broker}",
        "port": "1883",
        "clientid": "{mqtt_dynamic.clientid}",
        "usetls": false,
        "verifyservercert": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": false,
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "birthTopic": "{mqtt_dynamic.clientid}/config",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "{mqtt_dynamic.clientconfig}"
    },
    {
        "id": "73cb19d6.de22d8",
        "type": "mqtt-dynamic-broker",
        "z": "2f36ab1a.d0c954",
        "broker": "{mqtt_dynamic.broker}",
        "port": "1883",
        "clientid": "{mqtt_dynamic.clientid}_sync",
        "usetls": false,
        "verifyservercert": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": false,
        "willTopic": "",
        "willQos": "0",
        "willRetain": null,
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": null,
        "birthPayload": ""
    },
    {
        "id": "159f16c3.ea60e9",
        "type": "mqtt-dynamic in",
        "z": "2f36ab1a.d0c954",
        "name": "Sync",
        "topic": "{mqtt_dynamic.clientid}",
        "broker": "73cb19d6.de22d8",
        "async": "",
        "x": 99,
        "y": 200,
        "wires": [
            [
                "51ad98c3.ae5268",
                "5398ae93.322b8",
                "289d7b33.a4aaf4"
            ]
        ]
    },
    {
        "id": "86be65fd.794198",
        "type": "debug",
        "z": "2f36ab1a.d0c954",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 930.5,
        "y": 160.27001953125,
        "wires": []
    },
    {
        "id": "aae66842.551998",
        "type": "inject",
        "z": "2f36ab1a.d0c954",
        "name": "",
        "topic": "hostname",
        "payload": "hostname",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 321,
        "y": 673,
        "wires": [
            [
                "51ad98c3.ae5268"
            ]
        ]
    },
    {
        "id": "5811f4ac.a7ee0c",
        "type": "http in",
        "z": "2f36ab1a.d0c954",
        "name": "/api/exec",
        "url": "/exec",
        "method": "put",
        "swaggerDoc": "",
        "x": 118.5,
        "y": 71,
        "wires": [
            [
                "b0e30169.4f1d"
            ]
        ]
    },
    {
        "id": "3c8d9683.c3726a",
        "type": "http response",
        "z": "2f36ab1a.d0c954",
        "name": "/api/exec",
        "x": 1274.25,
        "y": 337,
        "wires": []
    },
    {
        "id": "1af21182.e50dee",
        "type": "function",
        "z": "2f36ab1a.d0c954",
        "name": "Combined output",
        "func": "msg.payload = msg.payload||msg.stderr||msg.error;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 916,
        "y": 339.75,
        "wires": [
            [
                "9a393a6d.89fd58",
                "da4e7177.76ea6"
            ]
        ]
    },
    {
        "id": "b0e30169.4f1d",
        "type": "change",
        "z": "2f36ab1a.d0c954",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.command",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 374.5,
        "y": 73,
        "wires": [
            [
                "51ad98c3.ae5268"
            ]
        ]
    },
    {
        "id": "51ad98c3.ae5268",
        "type": "execute",
        "z": "2f36ab1a.d0c954",
        "command": " ",
        "addpay": true,
        "append": "",
        "useSpawn": false,
        "name": "Exec payload",
        "x": 686,
        "y": 340.6199951171875,
        "wires": [
            [
                "86be65fd.794198",
                "1af21182.e50dee"
            ]
        ]
    },
    {
        "id": "9a393a6d.89fd58",
        "type": "mqtt-dynamic complete",
        "z": "2f36ab1a.d0c954",
        "name": "Complete",
        "x": 1113,
        "y": 340,
        "wires": [
            [
                "3c8d9683.c3726a"
            ]
        ]
    },
    {
        "id": "5398ae93.322b8",
        "type": "mqtt-dynamic out",
        "z": "2f36ab1a.d0c954",
        "name": "/status",
        "topic": "{mqtt_dynamic.clientid}/status",
        "qos": "1",
        "retain": "true",
        "broker": "b788e70f.487718",
        "x": 321,
        "y": 344,
        "wires": []
    },
    {
        "id": "9870be27.37779",
        "type": "mqtt-dynamic in",
        "z": "2f36ab1a.d0c954",
        "name": "/async",
        "topic": "{mqtt_dynamic.clientid}/async",
        "broker": "b788e70f.487718",
        "async": "true",
        "x": 95,
        "y": 512,
        "wires": [
            [
                "5c2811a9.e3c59",
                "5398ae93.322b8",
                "edc76c51.c0ac8"
            ]
        ]
    },
    {
        "id": "5c2811a9.e3c59",
        "type": "mqtt-dynamic complete",
        "z": "2f36ab1a.d0c954",
        "name": "Complete",
        "x": 334,
        "y": 512,
        "wires": [
            [
                "51ad98c3.ae5268"
            ]
        ]
    },
    {
        "id": "da4e7177.76ea6",
        "type": "mqtt-dynamic out",
        "z": "2f36ab1a.d0c954",
        "name": "/output",
        "topic": "{mqtt_dynamic.clientid}/output",
        "qos": "1",
        "retain": "",
        "broker": "b788e70f.487718",
        "x": 1135,
        "y": 445,
        "wires": []
    },
    {
        "id": "289d7b33.a4aaf4",
        "type": "debug",
        "z": "2f36ab1a.d0c954",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 326,
        "y": 199,
        "wires": []
    },
    {
        "id": "edc76c51.c0ac8",
        "type": "debug",
        "z": "2f36ab1a.d0c954",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 323,
        "y": 561,
        "wires": []
    }
]